
*.filters
*.user
\.vs/
x64/
x64/Debug/AVT_project.tlog/CL.command.1.tlog
x64/Debug/AVT_project.tlog/CL.command.1.tlog
x64/Debug/AVT_project.tlog/CL.read.1.tlog
*.tlog
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/AVT_project.exe
x64/Debug/AVT_project.ilk
x64/Debug/AVT_project.pdb
x64/Debug/AVT_project.tlog/CL.command.1.tlog
x64/Debug/AVT_project.tlog/CL.read.1.tlog
x64/Debug/AVT_project.tlog/CL.write.1.tlog
x64/Debug/AVT_project.tlog/link.read.1.tlog
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
